 /*--tarjetas--*/
    
 .container{
    @extend .card-cont;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 291px;
    
}
.card{
    box-shadow: 5px 5px 4px #888888;
    border-radius: 5px;
   
}

.card-cont{
    display: flex;
}

@media (max-width:900px){
    .container{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        margin-left: 29px;
    }
        .card-cont{
            display: inline-block !important;
            width: 80%;
        }
}