 /*--tarjetas--*/
    
 .container{
    @extend .card-cont;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    
}
.card{
    box-shadow: 5px 5px 4px #888888;
    border-radius: 5px;
   
}

.card-cont{
    display: flex;
}